<mat-sidenav-container>

    <div id="fuse-main-content">

        <!-- TOOLBAR: Above -->
        <ng-container *ngIf="(fuseSettings$ | async).layout.toolbar === 'above'">
            <fuse-toolbar class="above" [ngClass]="(fuseSettings$ | async).colorClasses.toolbar"></fuse-toolbar>
        </ng-container>
        <!-- / TOOLBAR: Above -->

        <!-- NAVBAR: Top -->
        <fuse-navbar [navigation]="navigation$ | async" (sideBarToggleOpened)="toggleSidebarOpened($event)" (sideBarToggleFolded)="onToggleSidebarFolded($event)" layout="horizontal" class="top-navbar" fxHide fxShow.gt-md [ngClass]="(fuseSettings$ | async).colorClasses.navbar"
            *ngIf="(fuseSettings$ | async).layout.navigation === 'top'">
        </fuse-navbar>
        <!-- / NAVBAR: Top -->

        <div id="wrapper">

            <!-- NAVBAR: Left -->
            <fuse-sidebar [name]="'navbar'" [folded]="(fuseSettings$ | async).layout.navigationFolded" [lockedOpen]="'gt-md'" class="left-navbar" [ngClass]="(fuseSettings$ | async).colorClasses.navbar" *ngIf="(fuseSettings$ | async).layout.navigation === 'left' || (fuseSettings$ | async).layout.navigation === 'top'">
                <fuse-navbar [navigation]="navigation$ | async" (sideBarToggleOpened)="toggleSidebarOpened($event)" (sideBarToggleFolded)="onToggleSidebarFolded($event)" [navId]="'navbar'" layout="vertical">
                </fuse-navbar>
            </fuse-sidebar>
            <!-- / NAVBAR: Left -->

            <div class="content-wrapper">

                <!-- TOOLBAR: Below -->
                <ng-container *ngIf="(fuseSettings$ | async).layout.toolbar === 'below'">
                    <fuse-toolbar class="below" [ngClass]="(fuseSettings$ | async).colorClasses.toolbar"></fuse-toolbar>
                </ng-container>
                <!-- / TOOLBAR: Below -->

                <fuse-content></fuse-content>

                <!-- FOOTER: Below -->
                <ng-container *ngIf="(fuseSettings$ | async).layout.footer === 'below'">
                    <fuse-footer class="below" [ngClass]="(fuseSettings$ | async).colorClasses.footer"></fuse-footer>
                </ng-container>
                <!-- / FOOTER: Below -->

            </div>

            <!-- NAVBAR: Right -->
            <fuse-sidebar [name]="'navbar'" [align]="'right'" [folded]="(fuseSettings$ | async).layout.navigationFolded" [lockedOpen]="'gt-md'" class="right-navbar" [ngClass]="(fuseSettings$ | async).colorClasses.navbar" *ngIf="(fuseSettings$ | async).layout.navigation === 'right'">
                <fuse-navbar [navigation]="navigation$ | async" (sideBarToggleOpened)="toggleSidebarOpened($event)" (sideBarToggleFolded)="onToggleSidebarFolded($event)" [navId]="'navbar'" layout="vertical">
                </fuse-navbar>
            </fuse-sidebar>
            <!-- / NAVBAR: Right -->

        </div>

        <!-- FOOTER: Above -->
        <ng-container *ngIf="(fuseSettings$ | async).layout.footer === 'above'">
            <fuse-footer class="above" [ngClass]="(fuseSettings$ | async).colorClasses.footer"></fuse-footer>
        </ng-container>
        <!-- FOOTER: Above -->

    </div>

    <!-- QUICK PANEL -->
    <mat-sidenav fuseMatSidenavHelper="quick-panel" align="end">
        <fuse-quick-panel></fuse-quick-panel>
    </mat-sidenav>
    <!-- / QUICK PANEL -->

</mat-sidenav-container>